<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<body>
<h1 th:text="Registration">form</h1>
<form action="/reg" th:modelAttribute="userDTO" th:object="${userDTO}" method="POST" enctype="utf8">
    <div>
        <label th:text="username">username</label>
        <input th:field="*{username}"/>
        <p th:each="error: ${#fields.errors('username')}"
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="firstname">firstname</label>
        <input th:field="*{firstname}"/>
        <p th:each="error: ${#fields.errors('firstname')}"
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="lastname">lastname</label>
        <input th:field="*{lastname}"/>
        <p th:each="error: ${#fields.errors('lastname')}"
          th:text="${error}">Validation error</p>
    </div>
  
    <div>
        <label th:text="email">email</label>
        <input type="email" th:field="*{email}"/>
        <p th:each="error : ${#fields.errors('email')}"
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="password">password</label>
        <input type="password" th:field="*{password}"/>
        <p th:each="error : ${#fields.errors('password')}"
          th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="confirmPassword">confirm</label>
        <input type="password" th:field="*{passwordConfirm}"/>
    </div>
    <button type="submit" th:text="submit">submit</button>
</form>
 

</body>
</html>